@model GetTestimonialByIdDto

@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Yorum Güncelleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="TestimonialId" />
                            <label>Ad Soyad</label>
                            <input type="text" asp-for="NameSurname" class="form-control" />
                            <br />
                            <label>Unvan</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Yorum</label>
                            <input type="text" asp-for="Comment" class="form-control" />
                            <br />
                            <label>Müşteri Görseli Url</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <button type="submit" class="btn btn-primary">Yorumu Güncelle</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>








