
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    @await Component.InvokeAsync("_DashoardWidgetsComponentPartial")
    @await Component.InvokeAsync("_DashoardMainChartComponentPartial")
    
    
     
    @await Component.InvokeAsync("_DashoardGroupReservationComponentPartial")
   
    
<div class="row">
    @await Component.InvokeAsync("_DashboardAIDailyMenuSuggestionComponent")
    @await Component.InvokeAsync("_DashboardClaudeAIComponentPartial")
    

</div>
</section>

<script src="/otika-bootstrap-admin-template/assets/js/app.min.js"></script>
<!-- JS Libraies -->
<script src="/otika-bootstrap-admin-template/assets/bundles/apexcharts/apexcharts.min.js"></script>
<!-- Page Specific JS File -->
<script src="/otika-bootstrap-admin-template/assets/js/page/index.js"></script>
<!-- Template JS File -->
<script src="/otika-bootstrap-admin-template/assets/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/otika-bootstrap-admin-template/assets/js/custom.js"></script>