@model GetAboutByIdDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Hakkımda Güncelleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="AboutId" />
                            <label>Başlık</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Görsel Url</label>
                            <input type="text" asp-for="ImaheUrl" class="form-control" />
                            <br />
                            <label>Video Url</label>
                            <input type="text" asp-for="VideoUrl" class="form-control" />
                            <br />
                            <label>Video Görseli Url</label>
                            <input type="text" asp-for="VideoCoverImageUrl" class="form-control" />
                            <br />
                            <label>Rezervasyon Numarası</label>
                            <input type="text" asp-for="ReservationNumber" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <textarea type="text" asp-for="Description" class="form-control" rows="5"></textarea>
                            <br />
                            <button type="submit" class="btn btn-primary">Hakkımızda Alanını Güncelle</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>







