@model GetContactByIdDto
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>İletişim Bilgisi Güncelleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">

                            <input type="hidden" asp-for="ContactId" />

                            <label>Adres Giriniz</label>
                            <input type="text" asp-for="Address" class="form-control" />
                            <br />

                            <label>Telefon Numarası Giriniz</label>
                            <input type="text" asp-for="Phone" class="form-control" />
                            <br />

                            <label>Email Giriniz</label>
                            <input type="email" asp-for="Email" class="form-control" />
                            <br />

                            <label>Açılış - Kapanış Bilgilerini Giriniz</label>
                            <input type="text" asp-for="OpenHours" class="form-control" />
                            <br />

                            <label>Harita Bilgilerini Giriniz</label>
                            <input type="text" asp-for="MapLocation" class="form-control" />
                            <br />

                            <button type="submit" class="btn btn-primary">İletişim Bilgisi Güncelle</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>







