@model CreateYummyEventDto
@{
    ViewData["Title"] = "CreateYummyEvent";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Yeni Orginazyon Ekleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Etkinlik Adı Giriniz</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Etkinlik Görsel Url</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <label>Etkinlik Fiyatı</label>
                            <input type="number" asp-for="Price" class="form-control" />
                            <br />
                            <label>Etkinlik Açıklaması</label>
                            <textarea type="text" asp-for="Description" class="form-control"></textarea>
                            <br />
                            <button type="submit" class="btn btn-primary">Orginazyon Ekle</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>





